<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:action="@{/chat}" th:object="${chatForm}" method="POST">
        <div>
            <label for="email">Email:</label>
            <input id="email" type="text" th:field="*{email}">
        </div>
        <div>
            <label for="messageText">Message Text:</label>
            <input id="messageText" type="text" th:field="*{messageText}">
        </div>
        <div>
            <label for="messageType">Message Type: </label>
            <select id="messageType" th:field="*{messageType}">
                <option
                        th:each="type : ${allMessageTypes}"
                        th:value="${type}"
                        th:text="${type}">Say</option>
            </select>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <h3 th:each="msg : ${chatMessages}">
        <span th:text="${msg.email}"></span>
        <span> : </span>
        <span th:text="${msg.message}"></span>
    </h3>
</div>
</body>
</html>